.container {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  background:  #fffffffa; 
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-top: 100px;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #e50914;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.genreList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0;
}

.genreBlock {
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line:none; /* remove underline */
  
}

.genreBlock:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  background: #ffeaea; /* light red touch on hover */
}

.genreHeading {
  font-size: 1.3rem;
  font-weight: 700;
  color: #1e1e1e;
  transition: color 0.3s ease;
}

.genreBlock:hover .genreHeading {
  color: #9e050d;
}

.noGenres {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
